.screen-dialog {
    width: 600px;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.75);
    text-align: left;
    font-size: 14px;
    color: #333;
    position: relative;
}

.screen-dialog h1 {
    font-size: 1.5em;
    margin-bottom: 0.4em;
    color: #000;
}

.screen-dialog p {
    line-height: 140%;
    margin: 0.6em 0;
}

.screen-dialog ul {
    list-style: none;
    padding-left: 0;
}

.screen-dialog a {
    color: #4D6FC7;
    font-size: 16px;
    font-weight: bold;
}

.screen-dialog a:hover {
    color: #79A0C1;
}

.screen-dialog ul > li:hover > a {
    color: #79A0C1;
}

.screen-dialog ul > li {
    border-radius: 4px;
    padding:  5px 5px 5px 5px;
    margin: 4px -5px 4px -5px;
}

.screen-dialog ul > li:hover {
    background-color: #E6E6FA;
    cursor: pointer;
}

.screen-dialog ul > li > p {
    font-size: 14px;
    margin-top: 4px;
}

.screen-dialog a.back-to-project {
    display: block;
    width: 200px;
    margin-left: -100px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: bottom;
    position: absolute;
    bottom: 15px;
    left: 50%;
}



